body,img{
	margin: 0;
	padding: 0;
}
.box{
	position: relative;
	float: left;
}
.content{
	width: 190px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	box-shadow: 0 0 5px #CCCCCC;
	border-radius: 5px;
}
.content img{
	max-width: 100%;
}
