body {
	font: 12px arial!important;
	height: 100%;
	min-width: 1000px;
	cursor: default;
}

html,
body {
	height: 100%;
}

em {
	font-style: normal;
}


/*@font-face {
	font-family: 'icons';
	src: url(http://m.baidu.com/static/index/iconfont/iconfont_6e53d3d8.eot);
	src: url(http://m.baidu.com/static/index/iconfont/iconfont_6e53d3d8.eot#iefix) format('embedded-opentype'), url(http://m.baidu.com/static/index/iconfont/iconfont_6e53d3d8.woff) format('woff'), url(http://m.baidu.com/static/index/iconfont/iconfont_6e53d3d8.ttf) format('truetype'), url(http://m.baidu.com/static/index/iconfont/iconfont_6e53d3d8.svg?#iconfont) format('svg');
	font-weight: normal;
	font-style: normal
}*/

.container {
	/*height: 100%;*/
	padding-bottom: 120px;
	position: relative;
	min-height: 600px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.container > header {
	border-bottom: 1px solid #ebebeb;
}


/*换肤样式*/

.container.hasbg > header {
	background-color: rgba(15, 25, 50, .3);
	border: none;
}

.container.hasbg > header,
.container.hasbg > header li:not(.skin_style)>a,
.container.hasbg > header em:not(.show-polution-name),
.container.hasbg > header .s-icons > a,
.container.hasbg > header .show-pollution span {
	color: #FFFFFF;
}

.container.hasbg #aside_btn {
	border-bottom: none;
	margin-bottom: 0;
}

.container.hasbg .main .lg .img {
	background-image: url(https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo/logo_white_fe6da1ec.png);
}

.container.hasbg #select {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	border: 0;
}

.container.hasbg #submit {
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	color: #000;
	background: url(../img/skin_dark_aab96bcc.png) -206px 0 no-repeat;
}

.container.hasbg footer b,
.container.hasbg footer a,
.container.hasbg footer p {
	color: #FFFFFF!important;
}

.container.hasbg .s-opacity-white-background {
	background: none !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))) !important;
}

.container.hasbg .current,
.container.hasbg .s-menu-item:hover {
	color: #333 !important;
	border: none!important;
	border-top: none!important;
	border-bottom: none!important;
	margin-top: 0!important;
	margin-bottom: 0!important;
	background-color: transparent !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))) !important;
}

.container.hasbg .s-ctner-contents {
	background: none !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9))) !important;
	border: 1px solid transparent;
}
.container.hasbg .s_menu_container{
	border-color:rgba(255, 255, 255, 0.9);
}

/*头部*/


/*头部左侧工具栏*/

.header_tool {
	float: left;
}

.header_tool .weather-wrap,
.header_tool .s-icons {
	float: left;
}

.header_tool .weather-wrap {
	margin: 7px 0 0 15px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}

.header_tool .weather-wrap a {
	color: #adacac;
	display: block;
	cursor: pointer;
	height: 20px;
	outline: none;
	text-decoration: none;
	white-space: nowrap;
}

.city-wather span {
	color: #555;
}

.city-wather .show-city em {
	line-height: 20px;
}

.city-wather .show-icon .weather-icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.city-wather .show-weather em,
.city-wather .show-polution-num {
	line-height: 20px;
}

.city-wather .show-weather em {
	vertical-align: top;
}

.city-wather .show-icon {
	margin-right: 9px;
}

.city-wather .show-pollution {
	display: inline-block;
	height: 20px;
}

.city-wather .show-polution-name {
	color: #fea700;
	font-weight: bold;
}

.city-wather .show-pollution em {
	margin-right: 7px;
}

.city-wather .show-pollution em {
	margin-right: 7px;
}

.show-vertical {
	margin-right: 11px;
	display: inline-block;
	height: 20px;
	vertical-align: bottom;
	color: #555;
}

.header_tool .weather-wrap .show-weather {
	display: inline-block;
	height: 20px;
}

.header_tool .s-icons a {
	position: relative;
	height: 32px;
	line-height: 32px;
	margin-right: 19px;
	color: #555;
	text-decoration: underline;
	outline: none;
	display: inline-block;
	text-shadow: none;
}


/*换肤框*/

#skin-wrap {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	width: 100%;
	height: 240px;
	z-index: -1;
	border-top: 1px #e3e3e3 solid;
	border-bottom: 1px #e3e3e3 solid;
	background-color: #FFFFFF;
	z-index: 3;
	transition: all .5s;
}

#skin-wrap .skin {
	width: 911px;
	overflow: hidden;
	margin: 0 auto;
	padding: 25px 0 0 0;
	height: 215px;
	position: relative;
}

#skin-wrap .skin .skin_style {
	display: inline-block;
}

#skin-wrap .skin .skin_style {
	width: 195px;
	height: 119px;
	line-height: 119px;
	vertical-align: top;
}

.skin-default a {
	display: block;
	height: 100%;
	text-align: center;
	font-size: 20px;
}

#skin-wrap .skin .skin_style img {
	width: 100%;
}

#skin-wrap .skin #skin_btn,
#skin-wrap .skin #slide_btn {
	margin-top: 10px;
	width: 70px;
	height: 30px;
	background-color: #389cff;
	border: none;
	color: #FFFFFF;
	cursor: pointer;
	outline: none;
}


/*头部右侧导航栏*/

.header_nav {
	float: right;
	position: relative;
	font-size: 0;
}

.header_nav li {
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
	height: 32px;
	line-height: 32px;
}

.header_nav li a {
	font-size: 13px;
	color: #555;
	text-decoration: underline;
	font-weight: bold;
}

.header_nav li:nth-of-type(7) a,
.header_nav li:nth-of-type(8) a {
	font-weight: normal;
}

.header_nav li:last-of-type {
	width: 86px;
	margin-bottom: -1px;
	height: 32px;
	line-height: 32px;
	background: #398bfb;
	text-align: center;
	overflow: hidden;
	border-bottom: 1px solid #398bfb;
}

.header_nav li:last-of-type a {
	display: block;
	height: 100%;
	color: white;
	font-weight: normal;
	text-decoration: none;
}

.header_nav .aside_nav {
	display: none;
	position: absolute;
	z-index: 2;
	right: 0;
	top: 0;
	width: 86px;
	border-left: 1px solid #e7e7e7;
	background-color: #f9f9f9;
	overflow: hidden;
	text-shadow: none;
	opacity: 1;
	min-height: 600px;
}

.aside_nav .aside_title {
	color: #333;
	text-align: center;
	width: 66px;
	height: 30px;
	line-height: 34px;
	padding-bottom: 10px;
	margin: 0 auto;
	border-bottom: #f0f0f0 1px solid;
	font-size: 13px;
	cursor: default;
}

.aside_nav .aside_content {
	overflow: hidden;
	position: relative;
}

.aside_nav .aside_content a {
	display: block;
	text-align: center;
	width: 66px;
	height: 76px;
	margin: 0 auto;
	font-size: 12px;
	border-bottom: #f0f0f0 1px solid;
	color: #666;
	text-decoration: none;
	overflow: hidden;
	text-shadow: none;
	line-height: 14px;
	outline: none;
}

.aside_nav .aside_content a:hover {
	text-decoration: underline;
}

.aside_nav .aside_content .s_bdbrievenmore {
	margin-top: 15px;
	height: 30px;
	width: 85px;
	overflow: hidden;
}

.aside_nav .aside_content a img {
	display: block;
	height: 36px;
	width: auto;
	margin: 10px auto 5px;
	cursor: pointer;
	border: 0;
}


/*主体*/

.container .main {
	width: 640px;
	margin: 0 auto;
	text-align: center;
}

.container .main .lg {
	margin-top: 10px;
}

.main .lg .img {
	display: inline-block;
	width: 270px;
	height: 129px;
	background: url(http://www.baidu.com/img/bd_logo1.png) no-repeat;
	background-size: 100% auto;
}

.container #form {
	margin-top: 7px;
}

#select {
	border: 1px solid #b6b6b6;
	border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
	background: #fff;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 539px;
	height: 40px;
	padding: 2px 0 0 7px;
	border-right-width: 0;
	border-color: #b8b8b8 transparent #ccc #b8b8b8;
	overflow: hidden;
	outline: none;
}

#select:focus {
	border-color: #317EF3;
}

#submit {
	width: 100px;
	height: 40px;
	margin-left: -4px;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	background: #3385ff;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	font-weight: normal;
}

#submit:hover {
	background: #317ef3;
	box-shadow: 1px 1px 1px #ccc;
}


/*s-wrap*/

.s_wrap {
	margin-top: 80px;
}

.s_main {
	position: relative;
	margin: 0 auto;
	width: 895px;
}

.s_menu_container {
	position: relative;
	z-index: 11111;
	width: 893px;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	border-top: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	height: 39px;
	line-height: 39px;
}

#s_menus_wrapper {
	float: left;
	vertical-align: top;
	font-size: 0;
	width: 843px;
}

#s_menus_wrapper .s-menu-item {
	display: block;
	color: #333;
	font-size: 14px;
	width: 80px;
	height: 39px;
	float: left;
	zoom: 1;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
}

#s_menus_wrapper .s-menu-item:not(.current):hover {
	background-color: #b3b6bb ;
	color: #fff;
	background-image: none ;
	filter: none !important;
	margin-bottom: -1px;
	margin-top: -1px;
	border-top: 1px solid #b3b6bb;
	border-bottom: 1px solid #b3b6bb;
}

#s_menus_wrapper .s-menu-item.current {
	background-color: #9a9da2;
	color: #fff;
	font-weight: bold;
	margin-bottom: -1px;
	margin-top: -1px;
	border-top: 1px solid #9a9da2;
	border-bottom: 1px solid #9a9da2;
}

.s-menu-setting {
	height: 39px;
	float: right;
	width: 18px;
	padding: 0 21px 0 11px;
	cursor: pointer;
	display: inline-block;
}

.menu-icon {
	width: 100%;
	height: 18px;
	margin-top: 11px;
	overflow: hidden;
	background: url(../img/card_setts_fdb17359.png) no-repeat -121px -49px;
}

.s-ctner-contents {
	width: 893px;
	min-height: 363px;
	border: 1px solid #e9e9e9;
}

.s-news-split {
	height: 363px;
	overflow: hidden;
	position: relative;
	width: 843px;
	padding: 0 25px 0 25px;
}


/*回到顶部*/

.top-feed {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: 447px;
	width: 51px;
	bottom: 30px;
	z-index: 5;
}

.top-feed .to-top {
	height: 26px;
	margin: 0 0 6px 10px;
	position: relative;
	width: 38px;
	padding-top: 12px;
	border: 1px solid #e3e3e3;
	background-color: #fafafa;
	cursor: pointer;
}

.top-feed .icon-mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 38px;
	line-height: 38px;
	width: 38px;
	z-index: 3;
	font-size: 13px;
	background-color: #eee;
	color: #999;
	margin-left: -1px;
	margin-top: -1px;
	border: 1px solid #e3e3e3;
}

.icon-mask .text {
	position: absolute;
	top: 4px;
	left: 4px;
	line-height: 16px;
	width: 30px;
}

.top-feed .to-top span {
	display: block;
	height: 17px;
	width: 33px;
	margin: 0 auto;
	background: url(../img/topfed_c531aae6.png) no-repeat -1px -10px;
}

.top-feed .to-top:hover .icon-mask {
	display: block;
}


/*脚部*/

footer {
	height: 100px;
	position: absolute;
	bottom: 0;
	text-align: left;
	width: 100%;
	margin: 0 auto;
	z-index: 0;
	overflow: hidden;
}

.footer_wrap {
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
}

#qrcode {
	display: inline-block;
}

#qrcode .qrcode-item {
	float: left;
}

#qrcode .qrcode-item-2 {
	margin-left: 33px;
}

#qrcode .qrcode-item-1 .qrcode-img {
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/zbios_62c636fe.png) 0 0 no-repeat;
}

#qrcode .qrcode-item-2 .qrcode-img {
	background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/home/img/qrcode/nuomi_510f7472.png) 0 0 no-repeat;
}

#qrcode .qrcode-img {
	float: left;
	width: 60px;
	height: 60px;
}

#qrcode .qrcode-text {
	float: left;
	color: #999;
	line-height: 23px;
	margin: 8px 0 0 10px;
}

#qrcode .qrcode-text p {
	text-align: left;
}

#qrcode .qrcode-text b {
	color: #4c4c4c;
	font-weight: bold;
}

#ftConw {
	display: inline-block;
	text-align: left;
	margin-left: 33px;
	position: relative;
	top: -12px;
}

#ftConw a {
	text-decoration: underline;
}

#lh {
	margin: 16px 0 5px;
}

#cp,
#cp a {
	color: #666;
}

#lh a {
	color: #272727;
	margin-right: 20px;
}

.m-module {
	display: none;
}

.bottom {
	display: none;
}

.s-bg-space {
	height: 39px;
	float: left;
	width: 523px;
}